<div class="container">
  <form [formGroup]="heroForm" (ngSubmit)="updateHero()">
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
      <label for="intelligence">Inteligencia:</label>
      <input id="intelligence" type="text" formControlName="intelligence">
      <label for="speed">Velocidad:</label>
      <input id="speed" type="text" formControlName="speed">
      <label for="power">Poder:</label>
      <input id="power" type="text" formControlName="power">

      <button type="submit">Save</button>
    </form>
</div>
